* {
  margin: 0;
  padding: 0;
}

body {
  background: #f8f8fa;
  font-family: "Roboto", sans-serif;
}

img {
  max-inline-size: 100%;
}

.material-icons-outlined {
  font-family: "Material Icons";
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;
  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;
  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;
  /* Support for IE. */
  font-feature-settings: "liga";
}

.container {
  margin: auto;
  max-inline-size: 1040px;
  padding-inline-end: 15px;
  padding-inline-start: 15px;
}

.header {
  background: #f8f8fa;
  margin-block-start: 15px;
  margin-block-end: 20px;
  position: sticky;
  top: 0;
}
.header .header-content {
  align-items: center;
  color: #3456ff;
  display: flex;
  justify-content: space-between;
  padding-block-start: 20px;
  padding-block-end: 20px;
  padding-inline-end: 10px;
  padding-inline-start: 10px;
}
.header .header-content .logo {
  z-index: 1000;
}
.header .header-content .logo img {
  border-radius: 8px;
}
.header .header-content .menu-mobile {
  z-index: 1000;
}
.header .header-content .menu {
  background: #fff;
  inset-block: 0;
  inset-inline: 0;
  padding-block-start: 100px;
  position: fixed;
  opacity: 0;
  transform: translateY(-100%);
  transition: 1s ease-in-out;
  z-index: 1;
}
.header .header-content .menu ul {
  align-items: center;
  display: flex;
  flex-direction: column;
  font-size: 18px;
  font-weight: 500;
  gap: 32px;
  line-height: 21.94px;
}
.header .header-content .menu ul li {
  list-style: none;
}
.header .header-content .menu ul li a {
  color: #3456ff;
  text-decoration: none;
}
.header .header-content .menu ul li a:hover {
  color: #0ba5ec;
  text-decoration: underline;
}
.header .header-content .menu.open {
  opacity: 1;
  transform: translateY(0);
  transition: 1s all;
}

@media only screen and (min-width: 768px) {
  .header .header-content .menu-mobile {
    display: none;
  }
  .header .header-content .menu {
    background: unset;
    display: block;
    padding-block-start: 0;
    position: static;
    opacity: 1;
    transform: translateY(0);
    transition: none;
  }
  .header .header-content .menu ul {
    align-items: flex-start;
    flex-direction: row;
    gap: 20px;
  }
}
.section-hero {
  margin-block-end: 40px;
}
.section-hero .hero-content img {
  border-radius: 8px;
  box-shadow: 0.05rem 0.1rem 0.3rem -0.03rem rgba(0, 0, 0, 0.45);
}

.main-info {
  margin-block-end: 40px;
  margin-block-start: 40px;
}
.main-info .info-content {
  color: #070928;
  display: flex;
  flex-direction: column;
  gap: 24px;
}
.main-info .info-content h1 {
  font-family: "Lato", sans-serif;
  font-size: 24px;
  line-height: 36px;
  text-align: center;
  text-transform: uppercase;
}
.main-info .info-content p {
  font-size: 16px;
  line-height: 24px;
}

.section-card .card-content {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.section-card .card-content .card {
  background: #ffffff;
  border-radius: 8px;
  box-shadow: 0.05rem 0.1rem 0.3rem -0.03rem rgba(0, 0, 0, 0.45);
  padding-block-end: 16px;
  overflow: hidden;
}
.section-card .card-content .card .card-img img {
  aspect-ratio: 16/9;
  border-radius: 8px 8px 0 0;
  object-fit: cover;
}
.section-card .card-content .card .card-title {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-block-start: 20px;
  margin-inline-end: 20px;
  padding-inline-end: 15px;
  padding-inline-start: 15px;
}
.section-card .card-content .card .card-title h2 {
  font-family: "Lato", sans-serif;
  font-size: 20px;
  line-height: 24px;
}
.section-card .card-content .card .card-title p {
  font-size: 16px;
  line-height: 24px;
}
.section-card .card-content .card .card-title a {
  background: #3456ff;
  border-radius: 8px;
  color: #ffffff;
  font-family: "Lato", sans-serif;
  font-size: 16px;
  inline-size: 100px;
  padding: 12px;
  text-align: center;
  text-decoration: none;
}

@media only screen and (min-width: 768px) {
  .section-card .card-content {
    flex-direction: row;
    gap: 40px;
  }
}
.section-parallax {
  margin-block-end: 40px;
  margin-block-start: 40px;
}
.section-parallax .content-parallax {
  align-items: center;
  display: flex;
  height: 400px;
  justify-content: center;
  position: relative;
  z-index: -1;
}
.section-parallax .content-parallax::before {
  content: "";
  background-image: url("../image/Parallax.jpg");
  border-radius: 8px;
}
.section-parallax .parallax::before {
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-repeat: no-repeat;
  background-size: auto;
  background-position: center center;
  background-attachment: fixed;
  -webkit-filter: brightness(0.8);
  filter: brightness(0.8);
  width: 100%;
}

.footer {
  background: #3456ff;
  color: #ffffff;
  padding-block-start: 40px;
  padding-block-end: 40px;
  text-align: center;
}
.footer .footer-info {
  margin-block-end: 20px;
}
.footer .footer-info p {
  line-height: 24px;
}
.footer .footer-icon {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-block-end: 20px;
}
.footer .footer-icon a {
  color: #ffffff;
  cursor: pointer;
  text-decoration: none;
}
.footer .footer-icon a i {
  font-size: 24px;
}
.footer .copy-right p {
  line-height: 24px;
}

@media only screen and (min-width: 768px) {
  .footer {
    padding-block-start: 60px;
    padding-block-end: 60px;
  }
  .footer .footer-info {
    margin-block-end: 40px;
  }
  .footer .footer-info p {
    font-size: 24px;
    line-height: 32px;
  }
  .footer .footer-icon {
    display: flex;
    justify-content: center;
    gap: 40px;
    margin-block-end: 40px;
  }
  .footer .footer-icon a:hover {
    color: #cac2c2;
  }
  .footer .footer-icon a i {
    font-size: 48px;
  }
  .footer .copy-right p {
    font-size: 20px;
    line-height: 32px;
  }
}

/*# sourceMappingURL=main.css.map */
