.section-parallax {
  margin-block-end: 40px;
  margin-block-start: 40px;

  .content-parallax {
    align-items: center;
    display: flex;
    height: 400px;
    justify-content: center;
    position: relative;
    z-index: -1;

    &::before {
      content: "";
      background-image: url("../image/Parallax.jpg");
      border-radius: 8px;
    }
  }

  .parallax::before {
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-repeat: no-repeat;
    background-size: auto;
    background-position: center center;
    background-attachment: fixed;
    -webkit-filter: brightness(0.8);
    filter: brightness(0.8);
    width: 100%;
  }
}
